.header {
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-logo img{
 height: 90px;
}
.header-logo{
 position: absolute;
 top: 20px;
}
.header{
  height: 120px;
  background-color: var(--bgr-header);
}
.header-wrapper{
  width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
}
.header-text{
  width: 100%;
  text-align: center;
  position: relative;
  align-items: center; 
  line-height: 120px;
  color: white;
}